.slide--1 {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.header {
  grid-column: center-start / center-end;
  display: grid;
  align-content: space-evenly;
  padding: 5rem 2rem;

  @media only screen and (orientation: landscape) and (max-width: $bp-large) {
    padding: 0 2rem;
  }

  &__center {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-gap: 3rem;
    transition: all 2s;

    @media only screen and (orientation: portrait) and (max-width: $bp-smaller) {
      display: block;
    }

    &::before {
      content: '';
      display: inline-block;
      height: 3px;
      width: 100%;
      background: $color-white-light;

      @media only screen and (orientation: portrait) and (max-width: $bp-smaller) {
        display: none;
      }
    }

    &::after {
      content: '';
      display: inline-block;
      height: 3px;
      width: 100%;
      display: block;
      background: $color-white-light;
      transition: all 2s;

      @media only screen and (orientation: portrait) and (max-width: $bp-smaller) {
        display: none;
      }
    }
  }

  &__logo {
    text-align: center;
    transition: all 2s;
  }

  &__img {
    position: relative;
    width: 10rem;
    height: auto;

    @media only screen and (orientation: landscape) and (max-width: $bp-large) {
      width: 7rem;
    }
  }

  &__buttons {
    margin-top: -8rem;
    display: flex;
    justify-content: space-evenly;
    transition: all 2s;

    @media only screen and (orientation: landscape) and (max-width: $bp-large) {
      margin-top: -6rem;
    }
  }
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: 90vh;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: 90vh;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: 90vh;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-100vh);
  }
}
